.numbers{
    display: flex;
    padding: 10px;
}

.numbers div{
    margin-left: 10px;
    padding: 5px;
    border-radius: 45%;
}

.message{
    padding: 10px;
}

.active{
    background-color: aqua;
}
